tutorial/genome/Sus_scrofa.Sscrofa10.2.dna.fa filter=lfs diff=lfs merge=lfs -text
tutorial/annotation/Sus_scrofa.Sscrofa10.2.83.gtf filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-BRfl-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-BRfl-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-LI-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-LI-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-MU-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-MU-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/annotation filter=lfs diff=lfs merge=lfs -text
tutorial/genome filter=lfs diff=lfs merge=lfs -text
tutorial/reads filter=lfs diff=lfs merge=lfs -text
tutorial/genome/NEW_susScr102vega.fa filter=lfs diff=lfs merge=lfs -text
tutorial/annotation/NEW_ensembl.83.vega.62.gtf filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-BRfl-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-BRfl-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-LI-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-LI-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-MU-reduced_1.fastq.gz filter=lfs diff=lfs merge=lfs -text
tutorial/reads/agPI-MU-reduced_2.fastq.gz filter=lfs diff=lfs merge=lfs -text
