manifest {
    mainScript = 'lncRNA-Annotation.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'skptic/lncrna_annotation'
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
} 
docker.enabled = true

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='64G'
          cpus='12'
          time='24h'
          scratch=true
          docker.enabled = true
          docker.fixOwnerShip = true
        }
    }
    rth {
        process {
          executor='pbs'
          queue='default'
          memory='64G'
          time='24h'
          clusterOptions='-l nodes=1:ppn=12:alone'
        }
    }
}

