manifest {
    mainScript = 'lncRNA-Annotation.nf'
}

params { 
  output = "results/"
} 

process {
    container = 'skptic/lncrna-annotation-nf'
    publishDir = [path: params.output, mode: 'copy', overwrite: 'true']
} 

profiles {
    crg {
        process {
          executor='crg'
          queue='cn-el7'
          memory='64G'
          cpus='12'
          time='24h'
        }
    }
    rth {
        process {
          executor='pbs'
          queue='default'
          memory='64G'
          time='24h'
          clusterOptions='-l nodes=1:ppn=12:alone'
        }
    }
}

env {
    PERL5LIB="$PERL5LIB:$baseDir/perl5/lib"
    FEELNCPATH="$baseDir/FEELnc"
    PERL5LIB="$PERL5LIB:$baseDir/perl5/lib:${FEELNCPATH}/lib/"
    PATH=$PATH:"${FEELNCPATH}/scripts/"
    PATH=$PATH:"${FEELNCPATH}/bin/LINUX/"
}
